@media only screen and (min-width: 320px) {
  
  body {
    background-color: #111111;
    margin: 0px;
  }
  
  header {
    width: 50px;
    position: fixed;
    height: 50px;
    margin-top: 0px;
    background-image: url("Domas.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 50%;
  }

  nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #222222;
    text-align: center;
    margin-right: px;
    overflow: hidden;
  }

  li {
    display: inline;
  }

  ul {
    margin-left: 30%;
    position: fixed;
    padding: 0;
    display: flex;
  }

  li a {
    text-decoration: 0;
    color: White;
    padding: 17px 5px;
    border-radius: 5px;
    margin: 0;
  }

  .active {
    background-color: #444444;
    color: white;
  }

  .image img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 16px;
  }

  .myDiv {
    padding-top: 66px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

}  